.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

input{
    font-size: 1.2em;
    font-family: 'Arial', sans-serif;
    padding: 10px 20px;
    color: #61DAFB;
    background-color: #282C34;
    border: 1px solid #61DAFB;
    border-radius: 5px;
    outline: none;
    position: relative;
    z-index: 1;
}

input::placeholder {
    color: #61DAFB;
    opacity: 0.5;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
